@page
@model ForgotPasswordModel
@{
}

<head>
	<link rel="stylesheet" href="~/css/Login.css">
</head>

<body>
	<form method="post">
		<div>
			<label>User ID</label>
			<input asp-for="ID" type="text" placeholder="Enter your ID" />
			<span asp-validation-for="ID" class="text-danger"></span>
		</div>
	</form>
</body>
