@page
@model LoginModel
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/Login.css">
</head>

<body>
    <form method="post">
        <h1>Login</h1>
        <div>
            <label>User ID</label>
            <input asp-for="ID" type="text" placeholder="Enter your ID" />
            <span asp-validation-for="ID" class="text-danger"></span>
        </div>

        <div>
            <label>Password</label>
            <input asp-for="Password" type="password" placeholder="Enter your Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="text-danger">@Model.ErrorMessage</div>
        }

        <button type="submit">Login</button>
        <button type="button" onclick="/ForgotPassword">Forgot Password</button>
    </form>
</body>